@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Hind);

*{
    outline: none;
}

/*-- Menu Bar Style | Begin --*/

.sticky{
    padding: 1em;
    width: 100%;

}

.title-bar{
    background: rgba(0, 0, 0, 0.95);
}

.top-bar, .top-bar ul{
    background: /*#524e55*/ transparent;
}

.top-bar li a:not(.active){
    text-shadow: 0px 1px 3px #666;
    transition: All 0.4s ease-in-out;
    font-weight: bold;
}

#top-bar li a:not(.active):hover{
    color: #fba82e;
}

#top-bar .active{
    background: #fba82e;
    font-weight: bold;
    transition: All 0.4s ease-in;
}
.top-bar, .top-bar ul a{
    color: #ffffff;
}

/*--- Page Section Layout | Begin ---*/

.page{
    height: 100%;
    position: relative;
}

/*--- Home Background | Begin ---*/

.secHome{
    background: url("../img/bg-SpaceCatOk2.jpg") #1c3355 no-repeat 100% 100% fixed;
    background-size: 100%;
}

/*--- PlayIt Background | Begin ---*/

.secPlayIt{
    background: url("../img/patter.png") #f2f0f6 fixed repeat;
    background-size: 50%;
}

.secPlayIt canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow:3px 2px 15px 2px #666;
    /*border-radius: 5px;
    border: 2px dashed #fff;*/
}

/*--- Team Background | Begin ---*/

.secTeam{
    background: url("../img/astronaunt.jpg") #fff center top fixed no-repeat;
    padding: 3em;
    max-height: 1200px;
}

.secTeam .people-team figure img{
    width: 50%;
}




/*--- About Background | Begin ---*/
.secAbout{
    background: url("../img/monti.png") #060433 center top fixed no-repeat;
    background-size: 100%;
    max-height: 1080px;
    color: #fff;
    padding: 3em;
}

.secAbout .items-po figure{
    background: #fff;
    padding: 2em;
    border-radius: 100%;
    width: 13em;
    height: 13em;
    margin: 0 auto 1em auto;
    position: relative;
    box-shadow:3px 2px 15px 2px #666;
}
.secAbout .items-po img{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.secAbout .items-po h4{
    font-family: 'Passion One', cursive;
    color: #fff;
    text-shadow: 1px 1px 3px #666;
}
.secAbout  .textAbout{
    padding: 3em;
    text-shadow: 1px 1px 3px #666;
    font-size: 1.2em;
    font-family: 'Hind', sans-serif;
}


/*--- Footer Background | Begin ---*/
footer{
    background: url("../img/iPsyl.png") #111 repeat;
    background-size: 20%;
    padding: 2em;
    border-top: 5px solid #0e0e0e;
    text-align: center;
    color: #fff;
    font-size: 1em;
}
footer p{
    margin-bottom: 0;
}
footer span{
    font-size: 0.8em;
}




/* Small only */
@media screen and (max-width: 39.9375em) {
    .secHome{
        background: url("../img/bg-SpaceCatOk.jpg") #1c3355 no-repeat 100% 100% fixed;
        background-size: auto;
        height: 60%;
    }
    .secHome #logo{
    }
    .secHome #logo img{
        text-align: center;
        margin: auto;
        padding: 10px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    #header-bar{
        margin: 0 !important;
        padding: 0;
    }
    #top-bar ul.menu{
        list-style: none;
    }
    #top-bar ul.menu li:first-child{
        margin-top: 25px;
    }
    #top-bar ul.menu li:last-child{
        margin-bottom: 15px;
    }
    #top-bar ul.menu li{
        display: list-item;
        width: auto;
        margin: 5px 20px 5px 20px;
    }
    .top-bar{
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
        padding: 0;
    }

    .top-bar-right{
        text-align: center;
        margin-top: 1em;
    }
    .secPlayIt .justcell{
        position: absolute;
        background: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 65%;
        padding: 2em;
        text-align: center;
        box-shadow:3px 2px 15px 2px #666;
    }
    .secPlayIt .justcell h4{
        font-weight: bold;
    }
    .secAbout{
        background-size: auto;
        overflow-y: auto;
    }
    .secAbout .items-po{
        padding-top: 2em;
    }
    .secAbout .items-po div{
        margin-bottom: 1em;
    }
    .secAbout .items-po h4{
        font-size: 1.5em;
    }
    .secAbout .textAbout{
        padding: 0em;
    }

}


/* Medium and up */
@media screen and (min-width: 40em) {
    .secPlayIt canvas{
        max-width: 100%;
        max-height: 100%;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .secAbout{
        background-size: auto;
        overflow-y: auto;
    }
    .secAbout .items-po figure{
        width: 9em;
        height: 9em;
    }
    .secAbout .items-po img{
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
