@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Passion+One);

body{
	padding: 0;
	margin: 0;
	background: url(background_exploded.png) #fff repeat;
}
canvas{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	border-radius: 5px;
	box-shadow:3px 2px 15px 2px #666;
	border: 2px dashed #fff;
}